[defaults]
inventory          = inventory/production.ini
roles_path         = roles
forks              = 5
timeout            = 30
gathering          = smart
stdout_callback    = yaml
callback_whitelist = timer
retry_files_enabled = False
host_key_checking  = False
log_path           = ./ansible.log

[ssh_connection]
pipelining         = True
ssh_args           = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
