KAFKA_BROKERS={{ prom_gw_kafka_brokers }}
NACOS_ADDR={{ prom_gw_nacos_addr }}
NACOS_DATA_ID={{ prom_gw_nacos_data_id | default('prom-gw-rules') }}
NACOS_GROUP={{ prom_gw_nacos_group | default('GATEWAY') }}
OTEL_EXPORTER_OTLP_ENDPOINT=
LOG_LEVEL=info
